<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Please rate your service</title>
</head>
<body>
<div class="container">

    {% if message %}
    <p class="message">{{message|safe}}</p>
    {% endif %}
    <form action="/submit_book" method="post">
        {% if request_ %}
        <input type="hidden" name="request" value="Request a book" readonly>
        {% else %}
        <input type="hidden" name="offer" value="Offer a book" readonly>
        {% endif %}
        <div class="form-group">


            <input
                    type="text"
                    name="name"
                    placeholder="Name of the book"
            /></div>
         <div class="form-group">

            <input
                    type="text"
                    name="author"
                    placeholder="Author"
            /></div>
        <div class="form-group">

            <input
                    type="text"
                    name="contact"
                    placeholder="Your contact details"
            /></div>
        <div class="form-group">
            <textarea name="description" placeholder="Description" maxlength="200"></textarea>
        </div>
        {% if request_ %}
        <input type="submit" value="Request!" class="btn-form"/>
        {% else %}
        <input type="submit" value="Share!" class="btn-form"/>
        {% endif %}

    </form>
</div>
</body>
</html>